<h1>Log in</h1>
<%=form_for @user, url: login_path, method: :post do |f| %>
<%= f.label :email %>
<%= f.email_field :email %>
<br>
<%= f.label :password %>
<%= f.password_field :password %>
<br>
<%= f.submit "Log in" %>
<% end %>
<br>
<%= link_to('Log in with Facebook!', '/auth/facebook', method: :post) %> 

 <%= link_to(controller: 'users', action: 'new') { 'sign up' } %>

